*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


.btn{
   background-color: #4E47FF;
   color: white;
   border-radius: 10px;
   height: 48px;
   width: 132px;
   border: white;
}

/* 1st BOX - Banner BOX */

header{
   width: 100%;
   padding: 1px;
   background-image: url(/assets/Hero-bg.png);
}

.header-nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 150px 50px 150px;
   color: #4E47FF;
}

header nav h3{
   font-size: 34px;
}

.banner{
   margin: 158px;
   text-align: center;
   font-weight: bold;
}

.banner-heading{
   font-size: 65px;
   margin-bottom: 20px;
   font-weight: bold;
}


/* 2nd BOX - Action BOX */

.action-container{
   margin: 100px 150px;
   border: 1px solid black;
}

.action{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
}

.action-photo{
   border-radius: 48px;
   width: 403px;
   height: 328px;
}

.action-photo{
   border-radius: 48px;
}

.action-text h2{
   font-weight: bold;
   font-size: 42px;
}

.action-text p{
   color: #252432;
   font-size: 24px;
   margin: 23px 10px 23px 0px;
}
